* {
    padding: 0;
    margin: 0;
}

#container {
    position: absolute;
    left: 25%;
    right: 25%;
    top:24px;
    text-align: center;
}

#thumbnail-login {
    width: 50%;
    height: 50%;
}

.form-group {
    margin-top: 8px;
}

.form-group .form-label {
    display: block;
    margin-left: 37%;
    text-align: left;
    font-size: 20px;
}

.form-group .form-control{
    width: 25%;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.form-submit {
    width: 20%;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 16px;
}

.form-submit>a {
    text-decoration: none;
}

.register-account {
    margin-top: 8px;
}