.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    display: flex;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        caret-color: var(--primary);
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
    }

    input:not(:placeholder-shown)~.search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: 52px;
        height: calc(var(--search-height) - var(--search-top-spacer)*2);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.search-result{
    
}

.search-title{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22,24,35,0.5);
}

.clear {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.more-btn{
    padding: 4px 8px;
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
}