@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800&display=swap');

:root{
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width:  1150px;
}

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button, input, [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}