.menu-nav-item {
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;

    &.active {
        background-color: #6A5ACD;

        .title {
            color: white;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon {
    margin-top: 20px;
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
}

.title {
    font-size: 18px;
    color: black;
    font-weight: 600;
    padding-bottom: 8px;
}