.menu-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &.active{
        background-color: wheat;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon{
    margin-top: 16px;
    margin-bottom: 16px;
    width: 56px;
    height: 56px;
}

.title{
    font-size: 20px;
    text-decoration: none;
}